/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* Proyect1 - React - By Immer */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.iconBox{
  grid-area: iconBox;
}


.fa-quote-left{
  font-size: 60px;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.arrow-right{
  color: white;
}


.container-card{
  background-color: white;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  width: 650px;
  height: 210px;
  display: grid;
  grid-template-columns: repeat(2, 12% 88%);
  grid-template-areas:
  "iconBox container-quotebox"
  "iconBox containerright"
  ;
  
}

.container-quotebox{
  grid-area: container-quotebox;
  width: 100%;
  height: 100%;
}

.quotebox1{
  height: 125px;
  padding-top: 1rem;
  padding-right: 2rem;
  text-align: center;
}

.quotebox2{
  padding-top: 0.5rem;
  padding-right: 2rem;
  grid-area: quotebox2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 20px;
}

.containerright{
  height: 100%;
  grid-area: containerright;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3rem;
  padding-bottom: 0.5rem;
  /* position: absolute; */
  
}

.buttonright{
  
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative;
  top: 145px;
  right: -560px; */
  cursor: pointer;
}

/*MEDIA QUERY*/

@media (max-width: 650px){

  .container-card{
    width: auto;
  }

  .quotebox1{
    padding-left: 2rem;
  }

}

@media (max-width: 320px){

  .container-card{
    background-color: white;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-areas:
    "iconBox"
    "container-quotebox"
    "containerright"
    ;

}

.iconBox{
  grid-area: iconBox;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-quotebox{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerright{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.quotebox1{
  height: fit-content;
}

.quotebox2{
  padding-top: 3rem;
  padding-bottom: 0.5rem;
}

}