/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* Proyect1 - React - By Immer */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-iconBox{
  width: 100%;
  text-align: end;
  padding-right: 0.5rem;
}

.iconBox{
  grid-area: iconBox;
  text-align: end;
  padding-right: 0.5rem;
}

.container-img-author{
  height: 100%;
  grid-area: img-author;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ddd;

}

.img-author{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #ddd;
}


.fa-quote-left{
  font-size: 60px;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.arrow-right{
  color: white;
}


.container-card{
  background-color: white;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  width: 42.5rem;
  height: 240px;
  display: grid;
  grid-template-columns: repeat(3, 20% 13% 67%);
  grid-template-areas:
  "img-author iconBox container-quotebox"
  "img-author iconBox containerright"
  ;
  
}

.container-quotebox{
  grid-area: container-quotebox;
  width: 100%;
  height: 100%;
}

.quotebox1{
  height: 125px;
  padding-top: 1rem;
  padding-right: 2rem;
  text-align: center;
}

.quotebox2{
  padding-top: 0.5rem;
  padding-right: 2rem;
  grid-area: quotebox2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 20px;
}

.containerright{
  height: 100%;
  grid-area: containerright;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3rem;
  padding-bottom: 0.5rem;
  /* position: absolute; */
  
}

.buttonright{
  
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative;
  top: 145px;
  right: -560px; */
  cursor: pointer;
}

.displayno{
  display: none;
}

/*INICIO MEDIA QUERY*/

@media (max-width: 680px){

  .container-card{
    width: calc(100vw - 50px);
  }

  .quotebox1{
    padding-left: 2rem;
  }

  
}

@media (max-width: 450px){

  .container-card{
    background-color: white;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    width: calc(100vw - 25px);
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-areas:
    "iconBox"
    "container-quotebox"
    "containerright"
    ;

}

.iconBox{
  grid-area: iconBox;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-quotebox{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerright{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  padding-bottom: 2rem;
}


.quotebox1{
  height: fit-content;
}

.quotebox2{
  padding: 0;
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
  
}


}


@media (max-width: 300px){

  .containerright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 100%;
  }

.displayno{
  display: block;
}



}

/*FIN MEDIA QUERY*/